<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.Mapper.MemberMapper">

<select id="memberSelect" parameterType="kr.smhrd.entity.Member" resultType="kr.smhrd.entity.Member">
	select * from Member where m_id=#{id} and m_pw=#{pw}
</select>

<insert id="newMember" parameterType="kr.smhrd.entity.Member">
	insert into Member values(#{id},#{pw},#{name},Now(), 0)
</insert>

	<select id="emailCheck" parameterType="String" resultType="kr.smhrd.entity.Member">
		select * from Member where id=#{id}
	</select>

	<select id="SelectMember" parameterType="kr.smhrd.entity.Member" resultType="kr.smhrd.entity.Member">
		select * from Member where id=#{id} and pw=#{pw}
	</select>
	
	<update id="updateMember" parameterType="kr.smhrd.entity.Member">
		update Member set pw=#{pw}, name=#{name} where id=#{id}
	</update>
	
	<select id="selectMyPoint" parameterType="String" resultType="int">
		select point from Member_point where user_id=#{user_id}
	</select>
	
	<update id="updateMyPoint" parameterType="kr.smhrd.entity.Member_point">
		update Member_point set point=#{point} where user_id=#{user_id}
	</update>
	
	<insert id="newMemberPoint" parameterType="String">
		insert into Member_point values(#{user_id},0)
	</insert>
	


</mapper>