<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.Mapper.QuizMapper">

	<select id="selectQuiz" resultType="kr.smhrd.entity.Quiz">
		select * from quiz
	</select>
	
	<select id="selectLabel" parameterType="int" resultType="String">
		select quiz_label from quiz where quiz_num=#{quiz_num}
	</select>

	<select id="selectQuizURL" parameterType="int" resultType="String">
		select video_url from quiz where quiz_num=#{quiz_num}
	</select>
	
    <select id="selectRandomWord" resultType="kr.smhrd.entity.Word">
        SELECT * FROM SSC_word ORDER BY RAND() LIMIT 1
    </select>


    <select id="selectRandomWordOptions" resultType="String">
        SELECT word_name FROM SSC_word ORDER BY RAND() LIMIT 4
    </select>

	<insert id="insertScore" parameterType="kr.smhrd.entity.QuizRank">
		insert into SSC_rank(user_id, quiz_score) values(#{user_id},#{quiz_score})
	</insert>
	
	<select id="selectQuizScore" parameterType="String" resultType="kr.smhrd.entity.QuizRank">
		select * from SSC_rank where user_id = #{user_id} order by quiz_time desc limit 5
	</select>
	
	<select id="selectQuizPic" resultType="kr.smhrd.entity.QuizPic">
		select * from quiz_pic
	</select>
	
	<select id="selectLabelPic" parameterType="int" resultType="String">
		select quiz_label from quiz_pic where quiz_num=#{quiz_num}
	</select>
	
	<select id="selectQuizNum" parameterType="int" resultType="kr.smhrd.entity.Quiz">
		select * from quiz where quiz_num = #{quiz_num}
	</select>
	
	
	<select id="selectWordImage" parameterType="int" resultType="String">
        SELECT word_img_url2 FROM SSC_word_image WHERE word_num = #{word_num}
    </select>
    
   <select id="selectWordByName" parameterType="String" resultType="kr.smhrd.entity.Word">
	    SELECT * FROM SSC_word WHERE word_name = #{word_name}
	</select>
	
	<select id="selectRandomWords" parameterType="int" resultType="kr.smhrd.entity.Word">
    SELECT * FROM SSC_word ORDER BY RAND() LIMIT #{limit}
</select>

</mapper>