<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.Mapper.StudyMapper">

	<select id="selectWordAllA" resultType="kr.smhrd.entity.Word">
		select * from SSC_word where word_category = '음식'
	</select>
	
	<select id="selectWordAllB" resultType="kr.smhrd.entity.Word">
		select * from SSC_word where word_category = '스포츠'
	</select>
	
	<select id="selectWordAllC" resultType="kr.smhrd.entity.Word">
		select * from SSC_word where word_category = '직업'
	</select>
	
	<select id="selectWordAllFamily" resultType="kr.smhrd.entity.Word">
		select * from SSC_word where word_category = '가족구성원'
	</select>
	
	<select id="selectWord" parameterType="int" resultType="kr.smhrd.entity.Word">
		select * from SSC_word where word_num=#{word_num}
	</select>
	
	<select id="getWordsByConsonant" parameterType="string" resultType="kr.smhrd.entity.Word">
	    SELECT * FROM SSC_word 
	    WHERE consonant = #{consonant}
	    ORDER BY word_name
	</select>
	
	<insert id="insertRecord" parameterType="kr.smhrd.entity.Record">
		insert into SSC_record(user_id, word_num) values(#{user_id}, #{word_num})
	</insert>
	
	<select id="selectRecordWord" parameterType="string" resultType="kr.smhrd.entity.Word">
		SELECT w.*FROM (SELECT word_num FROM SSC_record WHERE user_id = #{user_id} GROUP BY word_num ORDER BY MAX(study_time) DESC LIMIT 3) AS recent_records JOIN SSC_word AS w ON w.word_num = recent_records.word_num;
	</select>

	<select id="selectWordImage" parameterType="int" resultType="kr.smhrd.entity.WordImage">
		select * from SSC_word_image where word_num = #{word_num}
	</select>



</mapper>